---
layout: default
title: About
---

{% include logo.html variant="small" %}

<div class="about">
  <p>Hi, my name is Konrad, currently working as Product Designer in healthcare industry. I focus on accessible solutions that help business grow and provide real value to the users. I have a keen eye on the typography and truly enjoy crafting visuals, but all of this would be meaningless if what we are creating is not what people want/need/understand – this took me to the place where I am today where research, analytics and tests became my #1.</p>
  <p>I have finished Graphic Design education with Bachelor of Arts degree. During the study, I started working as a Brand Designer and continued it for nearly 5 years just to find out that my place belonged in products - crafting data driven, purposeful and user-centric experiences. Transitioning into Product Designer role in 2021 felt as a natural process of my journey - I was actively trying to search for possibilities to validate assumptions in ongoing branding projects, but it just wasn’t the right place for it. Since then, im constantly learning new things, pursuing business and product knowledge, on a mission to connect business and the users in the most effective and friction-less way.</p>
</div>

{% include about/education.html %}
{% include about/experience.html %}

