<div class="table">
  <div class="table__header">Projects</div>
  <div>
    {% 
      include projects/row.html
      id="I"
      title="How we centralized dangerous goods shipments"
      by="By product pro"
      date="2021/22"
      url="/dangerous-goods-shipments"
    %}
    {% 
      include projects/row.html
      id="II"
      title="Revolutionizing hospital staff management"
      by="By witflow"
      date="2021/22"
      url="/hospital-staff-management"
    %}
    {% 
      include projects/row.html
      id="III"
      title="Supporting worldwide anesthesiology"
      by="By product pro"
      date="2021/22"
      url="/dangerous-goods-shipments"
    %}
    {% 
      include projects/row.html
      id="IV"
      title="Photography portfolio with a twist"
      by="By witflow"
      date="2021/22"
      url="/dangerous-goods-shipments"
    %}
  </div>
</div>
