<div class="table">
  <div class="table__header">Projects</div>
  <div class="table__rows">
    {% include projects/row.html id="I" title="How we centralized dangerous goods shipments" date="2021/22" url="/projects/dangerous-goods-shipments" %}
    {% include projects/row.html id="II" title="Revolutionizing hospital staff management" date="2021/22" url="/projects/" %}
    {% include projects/row.html id="III" title="Supporting worldwide anesthesiology" date="2021/22" url="/projects/" %}
    {% include projects/row.html id="IV" title="Photography portfolio with a twist" date="2021/22" url="/projects/" %}
  </div>
</div>
