<footer class="footer">
  <ul class="footer__social">
    <li><a href="https://instagram.com/" target="_blank" rel="noopener">instagram</a></li>
    <li><a href="https://linkedin.com" target="_blank" rel="noopener">linkedin</a></li>
    <li><a href="mailto:konradmaciaszek0@gmail.com">konradmaciaszek0@gmail.com</a></li>
  </ul>
  <div class="footer__contact">
    <p class="footer__email">
      <a href="mailto:konradmaciaszek0@gmail.com">Feeling the vibe?<br />Let's chat<br />&larr;</a>
    </p>
    <p class="footer__copy">© 2023 Konrad Maciaszek</p>
  </div>
</footer>
