<header class="header" :class="open ? 'open' : ''" x-data="{ open: false }">
  <button class="header__toggle" aria-label="Open menu" @click="open = !open"></button>
  <nav class="header__nav">
    <ul>
      <li><a href="/" class="header__item">Projects</a></li>
      <li><a href="/about" class="header__item">About me</a></li>
      <li><a href="/playground" class="header__item">Playground</a></li>
    </ul>
    <ul class="header__contact">
      <li><a href="mailto:konradmaciaszek0@gmail.com" class="header__item">Get in touch</a></li>
    </ul>
    <ul data-align="right">
      <li><a href="https://instagram.com/" target="_blank" rel="noopener" class="header__item">Instagram</a></li>
      <li><a href="https://linkedin.com" target="_blank" rel="noopener" class="header__item">Linkedin</a></li>
    </ul>
  </nav>
</header>
