@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff2"),
    url("../fonts/Inter-Regular.woff.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
}

:root {
  --background-color: #251F0E;
  --text-color: #E4A52C;
  --text-hover-color: #d5a956;
  --border-color: #848484;

  --font-size-xxxl: 2rem;
  --font-size-xxl: 1.75rem;
  --font-size-xl: 1.5rem;
  --font-size-lg: 1rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.875rem;

  --navigation-height: 62px;
  --footer-height: 52px;

  --spacing: 16px;
  --spacing-2: 32px;
  --spacing-3: 48px;
  --spacing-4: 64px;
  --spacing-5: 80px;

  --section-inner-spacing: 64px;
  --section-outer-spacing: 80px;
}

@media screen and (min-width: 900px) {
  :root {
    --navigation-height: 39px;
    --footer-height: 130px;
  }
}

@media screen and (min-width: 1100px) {
  :root {
    --font-size-xxxl: 3rem;
    --font-size-xxl: 2rem;
    --font-size-xl: 1.5rem;
    --font-size-lg: 1.25rem;
    --font-size-md: 0.9rem;
    --font-size-sm: 0.75rem;

    --section-outer-spacing: 120px;
  }
}

.light {
  --background-color: #e9e5e5;
  --text-color: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}

/* Links */

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-hover-color);
}

/* Button link */

.button {
  border: 2px solid transparent;
  color: var(--text-color);
  display: inline-block;
  font-size: 1rem;
  padding: 8px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  border: 2px solid var(--text-hover-color);
}

/* Header */

.header {
  border-bottom: 1px solid transparent;
  padding: 16px;
}

.header.open {
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 24px;
}

.header ul {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header li {
  display: inline;
}

.header__nav {
  height: 0;
  overflow: hidden;
  transition: all 150ms ease-in-out;
}

.header.open .header__nav {
  height: 100px;
  padding-top: 16px;
}

.header__item {
  color: inherit;
  display: inline-block;
  font-size: 1rem;
  line-height: 135%;
  padding: 8px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.header__toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 29px;
  display: block;
  position: relative;
  width: 31px;
}

.header__toggle:before,
.header__toggle:after {
  background: var(--text-color);
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  transform-origin: left center;
  transition: all 150ms ease-in-out;
  width: 100%;
}

.header__toggle:before {
  top: 7px;
}

.header__toggle:after {
  top: 17px;
}

.header.open .header__toggle:before {
  transform: rotate(45deg) translateY(-8px);
}

.header.open .header__toggle:after {
  transform: rotate(-45deg) translateY(8px);
}

@media screen and (min-width: 900px) {
  .header {
    padding: 0 16px;
    position: sticky;
    top: 0;
    z-index: 6;
  }

  .header.open {
    border-bottom: none;
    margin-bottom: 0;
  }

  .header__toggle {
    display: none;
  }

  .header__nav {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }

  .header ul {
    gap: 32px;
  }

  .header ul[data-align="right"] {
    justify-content: flex-end;
  }
}

/* Logo */

.logo {
  display: block;
  padding: 0 16px;
}

.logo img {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .logo {
    padding: 0 16px;
  }
}

@media screen and (min-width: 1100px) {
  .logo {
    margin-bottom: 80px;
    padding-bottom: 0;
  }
}

/* Home - grid */

.home {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 48px 0;
  padding: 0 16px;
}

.home__row {
  display: grid;
  gap: 16px;
}

.home__spacing {
  display: none;
}

.home__read {
  display: none;
}

@media screen and (min-width: 1100px) {
  .home {
    margin: 80px 0;
  }

  .home__row {
    grid-template-columns: repeat(4, 1fr);
  }

  .home__item {
    position: relative;
  }

  .home__item[data-size="2"] {
    grid-column: span 2;
  }

  .home__spacing {
    display: block;
  }

  .home__spacing[data-size="2"] {
    grid-column: span 2;
  }

  .home__spacing[data-size="3"] {
    grid-column: span 3;
  }

  .home__read {
    align-items: center;
    background-color: #CDFFAE;
    border-radius: 100%;
    color: #251C05;
    display: flex;
    font-size: var(--font-size-sm);
    height: 100px;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100px;
    z-index: 5;
  }
}

/* Aspect ratio (1x1, 2x1) */

.ratio[data-ratio="1x1"] {
  aspect-ratio: 1 / 1;
}

.ratio[data-ratio="2x1"] {
  aspect-ratio: 2 / 1;
}

.ratio > img {
  width: 100%;
}

/* Project thumbnail */

.thumbnail {
  display: block;
  position: relative;
}

.thumbnail__title {
  display: block;
  font-size: var(--font-size-md);
  font-weight: normal;
  line-height: 1.35;
  padding: 8px 0;
  text-transform: uppercase;
}

.thumbnail__video {
  display: none;
}

.thumbnail__photo {
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 900px) {
  .thumbnail__video {
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .content .thumbnail__title {
    text-decoration: none;
  }
}

@media screen and (min-width: 1100px) {
  .thumbnail.no-cursor {
    cursor: none;
  }
}

/* Table */

.table {
  margin: 64px 0;
  padding: 0 16px;
}

.table__header {
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 16px;
  text-transform: uppercase;
}

.table__row {
  border-bottom: 2px solid var(--text-color);
  display: grid;
  grid-template-areas: "id id" "title title" "by date";
  padding: 16px 0;
}

.table__cell[data-name="id"] {
  grid-area: id;
}

.table__cell[data-name="title"] {
  grid-area: title;
  margin: 16px 0 32px;
  text-transform: uppercase;
}

.table__cell[data-name="by"] {
  grid-area: by;
  text-transform: uppercase;
}

.table__cell[data-name="date"] {
  grid-area: date;
  text-align: right;
}

@media screen and (min-width: 900px) {
  .table__row {
    gap: 16px;
    grid-template-areas: "id title by date";
    grid-template-columns: 2fr 4fr 2fr 70px;
    padding: 25px 0;
  }

  .table__cell[data-name="title"] {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .table__row:hover .table__cell[data-name="title"] {
    text-decoration: underline;
  }
}

/* About page */

.about {
  display: grid;
  grid-template-areas: "intro" "image" "more";
  gap: 48px;
  margin: 48px 0;
}

.about p {
  line-height: 1.35;
  padding: 0 16px;
}

.about__intro p {
  font-size: 2rem;
  font-weight: 700;
}

.about__more p {
  font-size: 1.5rem;
}

@media screen and (min-width: 900px) {
  .about {
    gap: 64px 16px;
    margin: 64px 0;
  }

  .about p {
    max-width: 800px;
  }
}

@media screen and (min-width: 1100px) {
  .about {
    grid-template-areas: "intro intro . image" ". . more more";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 16px;
  }

  .about p {
    padding: 0;
  }

  .about__intro {
    grid-area: intro;
  }

  .about__image {
    align-self: end;
    grid-area: image;
    justify-self: end;
  }

  .about__more {
    grid-area: more;
  }
}

@media screen and (min-width: 1920px) {
  .about {
    grid-template-areas: "intro intro . ." ". . more image";
  }

  .about__image {
    align-self: end;
    justify-self: end;
    width: 100%;
  }
}

/* Content */

.content {
  line-height: 1.35;
}

.content a {
  text-decoration: underline;
}

.content a:hover {
  text-decoration: none;
}

.content h1 {
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  margin-bottom: 24px;
}

.content h2 {
  font-size: var(--font-size-xxl);
  font-weight: 700;
}

.content h3 {
  font-size: var(--font-size-xl);
  font-weight: 700;
}

.content .text-0 {
  font-size: var(--font-size-lg);
  font-weight: 700;
}

.content .text-1 {
  font-size: var(--font-size-lg);
}

.content .text-1 + .text-1 {
  margin-top: 16px;
}

.content .text-2 {
  font-size: var(--font-size-md);
}

.content .text-2 + .text-2 {
  margin-top: 16px;
}

.content .text-0 + .text-2 {
  margin-top: 16px;
}

.content .line-expanded {
  line-height: 1.6;
}

.content .list-header {
  font-size: var(--font-size-sm);
  margin: 0 0 var(--spacing);
  text-transform: uppercase;
}

.content ul {
  list-style: disc;
  margin-left: 16px;
}

.content li {
  font-size: var(--font-size-md);
}

.content .label {
  font-size: var(--font-size-sm);
  margin: 4px 0 24px;
  text-transform: uppercase;
}

.content .note {
  font-size: var(--font-size-sm);
  font-style: italic;
}

.content .center {
  text-align: center;
}

/* Project */

.project {
  margin: 24px 0;
}

.project__back {
  display: inline-block;
  font-size: 0;
  margin-bottom: 24px;
}

.project__rows {
  display: flex;
  flex-direction: column;
  gap: var(--section-outer-spacing);
}

.project__row {
  padding: var(--spacing);
}

.project__header {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 40px;
  padding-bottom: 16px;
}

.project__header h2 {
  font-size: var(--font-size-md);
  font-weight: normal;
  text-transform: uppercase;
}

.project__top {
  display: grid;
  gap: var(--section-inner-spacing);
}

.project__columns {
  display: flex;
  flex-direction: column;
  gap: var(--section-inner-spacing);
}

.project__read-time {
  font-size: var(--font-size-md);
  margin-top: var(--spacing);
}

.project__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project__info-label {
  font-size: var(--font-size-sm);
  margin-bottom: 8px;
  text-transform: uppercase;
}

.project__cover {
  margin: var(--section-inner-spacing) 0;
}

.project__gallery {
  display: grid;
  font-size: 0;
  gap: 16px;
}

.project__gallery--main {
  margin-top: var(--section-inner-spacing);
}

.project__gallery > :empty {
  display: none;
}

.project__gallery .project__gallery {
  padding: 0;
}

.project__list + .project__list {
  margin-top: 40px;
}

.more-projects {
  margin-bottom: 24px;
  padding: 0 16px;
}

.more-projects h2 {
  font-size: var(--font-size-xxl);
  font-weight: 700;
  margin-bottom: 24px;
}

.more-projects__list {
  display: grid;
  gap: 16px;
}

@media screen and (min-width: 900px) {
  .project__top {
    width: 75%;
  }

  .project__columns > div {
    width: 75%;
  }

  .project__gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .project__gallery > :empty {
    display: block;
  }

  .more-projects__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .project {
    margin: 32px 0;
  }

  .project__title {
    margin-right: 24px;
  }

  .project__top {
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    width: auto;
  }

  .project__top > [data-area="title"] {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .project__columns {
    display: grid;
    gap: 16px;
    grid-template-areas: "left middle1 middle2 right";
    grid-template-columns: repeat(4, 1fr);
  }

  .project__columns > [data-area="left"] {
    grid-area: left;
    width: auto;
  }

  .project__columns > [data-area="middle1"] {
    grid-area: middle1;
  }

  .project__columns > [data-area="middle2"] {
    grid-area: middle2;
  }

  .project__columns > [data-area="right"] {
    grid-area: right;
  }

  .more-projects {
    margin-bottom: 40px;
  }
}

/* Playground */

.playground {
  margin: 48px 0;
  padding: 0 16px;
}

.grid {
  display: grid;
  gap: 16px;
}

.item {
  background: var(--background-color);
}

@media screen and (min-width: 900px) {
  .playground {
    margin: 64px 0;
  }

  .grid > .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Error page */

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - var(--navigation-height) - var(--footer-height));
  min-height: calc(
    var(--vh, 1vh) * 100 - var(--navigation-height) - var(--footer-height)
  );
  padding: 16px;
}

/* Footer */

.footer {
  padding: 16px;
}

@media screen and (min-width: 900px) {
  .footer {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer__social {
  display: none;
  line-height: 1.6;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

@media screen and (min-width: 900px) {
  .footer__social {
    display: block;
  }
}

.footer__copy {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 900px) {
  .footer__copy {
    text-align: right;
  }
}
