@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff2"),
    url("../fonts/Inter-Regular.woff.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
}

:root {
  --background-color: #e9e8e5;
  --text-color: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

/* Header */

.header {
  border-bottom: 1px solid transparent;
  padding: 16px;
}

.header.open {
  border-bottom: 1px solid var(--text-color);
}

.header ul {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header li {
  display: inline;
}

.header__nav {
  height: 0;
  overflow: hidden;
  transition: all 150ms ease-in-out;
}

.header.open .header__nav {
  height: 130px;
  padding-top: 16px;
}

.header__item {
  color: inherit;
  display: inline-block;
  font-size: 1rem;
  line-height: 135%;
  padding: 8px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.header__toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 29px;
  display: block;
  position: relative;
  width: 31px;
}

.header__toggle:before,
.header__toggle:after {
  background: var(--text-color);
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  transform-origin: left center;
  transition: all 150ms ease-in-out;
  width: 100%;
}

.header__toggle:before {
  top: 7px;
}

.header__toggle:after {
  top: 17px;
}

.header.open .header__toggle:before {
  transform: rotate(45deg) translateY(-8px);
}

.header.open .header__toggle:after {
  transform: rotate(-45deg) translateY(8px);
}

@media screen and (min-width: 900px) {
  .header {
    padding: 0 16px;
  }

  .header.open {
    border-bottom: none;
  }

  .header__toggle {
    display: none;
  }

  .header__nav {
    display: flex;
    height: auto;
    justify-content: space-between;
  }

  .header ul {
    gap: 32px;
  }
}

/* Logo */

.logo {
  display: block;
  padding: 24px 16px;
}

.logo img {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .logo {
    padding: 0 16px;
  }
}

@media screen and (min-width: 1100px) {
  .logo {
    margin-bottom: 80px;
    padding-bottom: 0;
  }
}

/* Button link */

.button {
  color: var(--text-color);
  font-size: 1rem;
  padding: 8px 0;
  text-decoration: none;
  text-transform: uppercase;
}

/* Home - grid */

.home {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px 0;
  padding: 0 16px;
}

.home__row {
  display: grid;
  gap: 16px;
}

@media screen and (min-width: 900px) {
  .home__row {
    grid-template-columns: repeat(2, 1fr);
  }

  .home__row--content-left > * {
    grid-column: 1 / span 2;
  }

  .home__row--content-left .gallery {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 64px;
  }

  .home__row--content-right > * {
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: 1100px) {
  .home__row--content-left > * {
    grid-column: 1 / span 1;
  }

  .home__row--content-left .gallery {
    margin-top: 80px;
  }

  .home__row--content-right > * {
    grid-column: 2 / span 1;
  }
}

.home .square {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.home .square img {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.home__text {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 32px;
}

/* Table */

.table {
  margin: 64px 0;
  padding: 0 16px;
}

.table__header {
  padding-bottom: 16px;
  text-transform: uppercase;
}

.table__row {
  border-top: 2px solid var(--text-color);
  display: grid;
  grid-template-areas: "id id" "title title" "date action";
  padding: 16px 0 24px;
}

.table__cell[data-name="id"] {
  grid-area: id;
}

.table__cell[data-name="title"] {
  grid-area: title;
  margin: 16px 0 32px;
  text-transform: uppercase;
}

.table__cell[data-name="date"] {
  grid-area: date;
}

.table__cell[data-name="action"] {
  grid-area: action;
  text-align: right;
}

.table__cell[data-name="action"] a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 900px) {
  .table__row {
    gap: 16px;
    grid-template-areas: "id title date action";
    grid-template-columns: 32px 1fr 120px 70px;
    padding: 36px 0;
  }

  .table__cell[data-name="title"] {
    margin: 0;
  }
}

/* Footer */

.footer {
  padding: 16px;
}

@media screen and (min-width: 900px) {
  .footer {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer__social {
  display: none;
  line-height: 1.35;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 900px) {
  .footer__social {
    display: block;
  }
}

.footer__social a {
  color: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  .footer__contact {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer__email {
  display: none;
  font-size: 1.5rem;
  line-height: 1.35;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .footer__email {
    display: block;
  }
}

.footer__email a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

.footer__copy {
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .footer__copy {
    text-align: right;
  }
}
