<div class="table">
  <div class="table__header">Education & courses</div>
  <div>
    {% 
      include projects/row.html
      id="I"
      title="Product analytics & User experience"
      by="By NN/g"
      date="2024"
    %}
    {% 
      include projects/row.html
      id="II"
      title="Product analytics workshops"
      by="By product pro"
      date="2023"
    %}
    {% 
      include projects/row.html
      id="III"
      title="Product discovery workshops"
      by="By product pro"
      date="2022"
    %}
    {% 
      include projects/row.html
      id="IV"
      title="user experience design workshops"
      by="By witflow"
      date="2022"
    %}
    {% 
      include projects/row.html
      id="V"
      title="graphic design and advertisement - ba"
      by="TEU CRACOW"
      date="2017/2020"
    %}
    {% 
      include projects/row.html
      id="VI"
      title="it technical specialist"
      by="IT college rabka"
      date="2013/2017"
    %}
    
  </div>
</div>
