<div class="table">
  <div class="table__header">Work experience</div>
  <div>
    {% 
      include projects/row.html
      id="I"
      title="product designer"
      by="htd health"
      date="2021-now"
    %}
    {% 
      include projects/row.html
      id="II"
      title="brand designer"
      by="htd health"
      date="2021"
    %}
    {% 
      include projects/row.html
      id="III"
      title="brand / product designer"
      by="freelance"
      date="2020/2021"
    %}
    {% 
      include projects/row.html
      id="IV"
      title="graphic designer"
      by="nazwa.pl"
      date="2019/2020"
    %}
    {% 
      include projects/row.html
      id="V"
      title="brand designer"
      by="fogmark"
      date="2018/2019"
    %}
    {% 
      include projects/row.html
      id="VI"
      title="brand designer"
      by="blachotrapez"
      date="2017/2018"
    %}
    
  </div>
</div>
