<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}Konrad Maciaszek</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/assets/img/og-image.jpg">
    <meta name="og:title" content="{{ page.title }} - Konrad Maciaszek">
    <meta name="description" content="">
    <meta name="og:description" content="">
    <meta name="og:url" content="/">

    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/assets/css/main.css">

    <style>
      {% if page.background %}
      body {
        background: {{ page.background }};
      }
      {% endif %}
    </style>
  </head>
</html>
<body>
  {% include header.html %}
  {% include logo.html %}

  {{ content }}

  {% include footer.html %}

  <script src="/assets/js/alpine.min.js"></script>
</body>
